@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Cinzel';
}

:root {
    --color-black: #000;
    --pages-color: #ece6e3;
}

.cursor {
    height: 2vh;
    width: 2vh;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    z-index:100;
    transition: all ease 0.1s;
    pointer-events: none;
    display: none;
}

body,
html {
    /* cursor: none; */
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: var(--pages-color);
}

#main {
    width: 100%;
    overflow-x: hidden;
}

.page1 {
    overflow: hidden;
    background-color: var(--pages-color);
    position: relative;
    height: 100vh;
    width: 100%;
    /* border-bottom: 2px solid black; */
}

.nav {
    background-color: grey;
    height: 24vh;
    position: fixed;
    width: 100%;
    z-index: 62;
    transition: all ease-in-out 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav h2 {
    font-family: 'Rubik Moonrocks', sans-serif;
    transition: all ease-in-out 0.8s;
    font-size: 13vh;
    color: #fff;
}

.box2 h1 span {
    background-color: rgb(0, 0, 0);
    border-radius: 1vh;
}

.box {
    position: absolute;
    height: 80vh;
    width: 46vw;
    left: 10%;
    top: 18vh;
    display: flex;
    padding-top: 20vh;
}

.box2 {
    width: 45vw;
    position: absolute;
    right: 5vw;
    top: 36vh;
    text-align: center;
    padding-top: 20vh;
}
.box2 h1 {
    color: var(--color-black);
    margin-bottom: 2vh;
    font-family: 'Holtwood One SC', serif;
}
.box2 h1 span{
    margin-bottom: 2vh;
    font-family: 'Holtwood One SC', serif;
}


.box2 p {
    color: var(--color-black);
    font-family: 'Sanchez', serif;
}

.box img {
    object-fit: cover;
    height: 60%;
    padding-top: 10vh;
}



/* page 3 */

#maintance{
    border-radius: 10vh;
}
.innerbox{
    position: absolute;
    height: 70%;
    width: 70%;
    top: auto;
    left: 30vh;
}
.innerbox img{
    height: 100%;
    width: 100%;
}
.page2 {
    overflow: hidden;
    background-color: var(--pages-color);
    min-height: 100vh;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid black; */
}

.containerp2 {
    height: 70vh;
    width: 70vw;
}

.containerp2 .boxes {
    height: 17.5vh;
    width: 100%;
    background-color: var(--color-black);
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.containerp2 .boxes h2 {
    padding-left: 4vw;
    cursor: pointer;
}

.btnarrow {
    height: 6vh;
    width: 3vw;
    display: inline-block;
    margin-right: 8vw;
    background-color: #000;
    border: none;
}

.ri-arrow-down-s-fill {
    font-size: 5vh;
    color: #fff;
}

.boxes h2{
    font-family: 'Sanchez', serif;
}
/* .mouse {
    background-color: #fff;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background-blend-mode: difference;
    scale:0;
} */


/* page 3 */

.page3 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--pages-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;

}


#p3img1 {
    height: 50vh;
    margin-left: 10vw;
    margin-top: 20vh;
}

.p3container {

    height: 20vh;
    width: 43vw;
    text-align: center;
    color: #000;
    margin-right: 3vw;
    font-family: 'Crushed', sans-serif;
    font-size: large;
}

.p3circle {
    background-color: #000;
    height: 9vh;
    width: 9vw;
    position: absolute;
    border-radius: 50%;
    display: flex;
    left: 7vw;
    justify-content: center;
    align-items: center;
    top: 65vh;
}




/* page4 */
.page4 {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: var(--pages-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4vw;

}

#p4img1 {
    height: 45vh;
    margin-top: 20vh;

}


.p4container {
    height: 20vh;
    width: 43vw;
    text-align: center;
    color: #000;
    margin-top: 15vh;
    font-family: 'Crushed', sans-serif;
    font-size: large;
}

.p4circle {
    background-color: #000;
    height: 9vh;
    width: 9vw;
    position: absolute;
    border-radius: 50%;
    display: flex;
    left: 85vw;
    justify-content: center;
    align-items: center;
    top: 50vh;
}

.p4circle h4 {
    font-size: 3vh;
}


/* page5 */

.page5 {
    min-height: 40vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page5 h2 span {
    background-color: rosybrown;
    border-radius: 1vh;
}



/* page 6 */

.page6 {
    height: 40vh;
    width: 100%;
    background-color: var(--pages-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.swiper {
    width: 54%;
    height: 97%;
    margin-bottom: -1vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--pages-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 62%;
    height: 100%;
    object-fit: cover;
}









/* animation css */
.profile {
    height: 100vh;
    width: 100%;
    background-color: var(--pages-color);
    position: absolute;
    z-index: 200;
    display: none;
    transition: all ease-in-out 0.5s;
}

.education {
    height: 100vh;
    width: 100%;
    background-color: var(--pages-color);
    position: absolute;
    z-index: 200;
    display: none;

    transition: all ease-in-out 0.5s;
}

.skills {
    height: 100vh;
    width: 100%;
    background-color: var(--pages-color);
    position: absolute;
    z-index: 200;
    display: none;
    transition: all ease-in-out 0.5s;
}

.projects {
    height: 100vh;
    width: 100%;
    background-color: var(--pages-color);
    position: absolute;
    z-index: 200;
    display: none;

    transition: all ease-in-out 0.5s;
}



/* css for the animations */

.containerav {
    height: 10vh;
    width: 100%;
}

#containerback {
    font-size: 4vw;
    background-color: transparent;
    border: none;
}

.ri-arrow-left-s-fill {
    color: #000;
}

.ri-arrow-down-s-fill:hover {
    cursor: pointer;
}




#cisco_python{
    height: 80%;
    width: 80%;
    border-radius: 4%;
}

#springboard{
    height: 80%;
    width: 80%;
    border-radius: 4%;

}

#hostpic{
    height: 80%;
    width: 80%;
    border-radius: 4%;

}
#pic4{
    height: 80%;
    width: 80%;
    border-radius: 4%;

}
#pic5{
    height: 80%;
    width: 80%;
    border-radius: 4%;

}


/* code for containers */
/* 
.wrap1{
    height: 70vh;
    width: 70vw;
    background-color: red;
    position: absolute;
    z-index: 200;
    display: none;
}
.wrap2{
    height: 70vh;
    width: 70vw;
    background-color: rgb(113, 192, 113);
    position: absolute;
    z-index: 200;
    display: none;
}
.wrap3{
    height: 70vh;
    width: 70vw;
    background-color: rgb(0, 217, 255);
    position: absolute;
    z-index: 200;
    display: none;
}
.wrap4{
    height: 70vh;
    width: 70vw;
    background-color: rgb(170, 0, 255);
    position: absolute;
    z-index: 200;
    display: none;
} */





@media (max-width:600px) {

    .nav {
        height: 15vh;
    }

    .nav h2 {
        font-size: 4vh;
    }

    .box {
        height: 15vh;
        width: 70vw;
        margin-left: 6vw;
        margin-top: 5vh;
        position: relative;
    }

    .box img {
        position: absolute;
        height: 30vh;
        width: inherit;
        object-fit: cover;
        object-position: center;
        bottom: 4vh;
    }

    .box2 {
        margin-right: 5%;
        width: 80vw;

    }

    .box2 p {
        margin-top: 2vh;

    }

    .containerp2 .boxes {
        height: 8.5vh;
        width: 100%;
    }

    .containerp2 {
        position: relative;
        height: 40vh;
        width: 90vw;
        top: 4vh;
        bottom: 1vh;
    }

    .page1 {
        z-index: 200;
    }

    .page2 {
        width: 100%;
        min-height: 35vh;
        z-index: 250;
    }

    .page3 #p3img1 {
        height: 35vh;
        top: 20vh;
        margin-right: 10vw;
        margin-top: 75vh;
    }



    .page3 {
        z-index: 200;
        height: 60vh;
    }

    .p3container {
        display: none;
    }

    .p3circle {
        top: 97vh;
        width: 22vw;
        display: none;
    }

    .page4 {
        z-index: 200;
        min-height: 60vh;
    }

    .page4 .p4container {
        font-size: 12px;
        margin-top: 22vh;
        width: 84vw;
    }

    #p4img1 {
        height: 27vh;
        position: absolute;
    }

    .p4circle {
        width: 22vw;
        height: 8vh;
        left: 77vh;
        display: none;
    }

    .page5 {
        font-size: 14px;
        min-height: 15vh;
        text-align: center;
    }
}


::selection {
    color: white;
    background: black;
  }
